@model Projekt.Models.Products.ProductModel

<h2 class="margin-2">Dodaj produkt</h2>

<form asp-action="Create" method="post" class="needs-validation" novalidate>
    <div class="form-group margin-2">
        <label asp-for="Name">Nazwa</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group margin-2">
      <label asp-for="Price">Cena</label>
        <div class="input-group">
            <input asp-for="Price" class="form-control" />
            <div class="input-group-append">
                <span class="input-group-text">zł</span>
            </div>
        </div>
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div class="form-group margin-2">
        <label asp-for="ProducerId">Producent</label>
        <select asp-for="ProducerId" class="form-control">
            @foreach (var producer in ViewBag.Producers)
            {
                    <option value="@producer.Id">@producer.Name</option>
            }
        </select>
        <span asp-validation-for="ProducerId" class="text-danger"></span>
    </div>

    <div class="form-group margin-2">
        <label asp-for="ProductionDate">Data produkcji</label>
        <input asp-for="ProductionDate" type="date" class="form-control" />
        <span asp-validation-for="ProductionDate" class="text-danger"></span>
    </div>

    <div class="form-group margin-2">
        <label asp-for="Description">Opis</label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary margin-2">Dodaj produkt</button>
</form>
