

    <div class="container">
        <div class="row mt-5">
            <div class="col-md-8 offset-md-2">
                <h2 class="header-text">Welcome to Projekt!</h2>
                <p>Projekt is a web application developed using ASP.NET Core with a focus on demonstrating multiple database relations. It is designed to showcase various features of ASP.NET Core, including MVC architecture, Entity Framework Core for database access, and Bootstrap for styling.</p>
                <p>Through this project, I learned:</p>
                <ul>
                    <li>How to create models, views, and controllers in ASP.NET Core.</li>
                    <li>How to define and manage relationships between different entities in a database using Entity Framework Core.</li>
                    <li>How to use Bootstrap to enhance the visual appeal and responsiveness of your web application.</li>
                    <!-- Add more learning points as needed -->
                </ul>
                <p>Start exploring the features of Projekt by navigating through the menu above.</p>
                <div class="mt-4">
                    <a class="btn btn-primary me-2" href="/login">Login</a>
                    <a class="btn btn-secondary" href="/Product">Table List</a>
                </div>
            </div>
        </div>
    </div>