<div class="container">
    <div class="row mt-5">
        <div class="col-md-8 offset-md-2">
            <h2 class="header-text">Witaj w Projekcie!</h2>
            <p>Projekt to aplikacja internetowa opracowana w oparciu o ASP.NET Core, która ma na celu demonstrowanie wielu relacji baz danych. Została zaprojektowana w celu prezentacji różnych funkcji ASP.NET Core, w tym architektury MVC, Entity Framework Core do dostępu do bazy danych oraz Bootstrapa do stylizacji.</p>
            <p>Dzięki temu projektowi nauczyłem/am się:</p>
            <ul>
                <li>Jak tworzyć modele, widoki i kontrolery w ASP.NET Core.</li>
                <li>Jak definiować i zarządzać relacjami między różnymi encjami w bazie danych przy użyciu Entity Framework Core.</li>
                <li>Jak używać Bootstrapa do poprawy atrakcyjności wizualnej i responsywności aplikacji internetowej.</li>
            </ul>
            <p>Rozpocznij eksplorację funkcji Projektu, przechodząc przez menu powyżej.</p>
            <div class="mt-4">
                <a class="btn btn-primary me-2" href="/Identity/Account/Login">Zaloguj się</a>
                <a class="btn btn-secondary" href="/Product">Lista tabelarna</a>
            </div>
        </div>
    </div>
</div>
